
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}

body {
    background-color: #F2CD5C;
    text-align: center;
    color: #400E32;
}

.section1 {
    background-image: url(images/pexels-engin-akyurt-1438798.jpg);
}

h1,{
    background-color: #F2921D;
}